<div class="row">
  <div class="col-md-12">
    <nb-card accent="info" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
      <nb-card-header>افزودن</nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="add()" #form="ngForm" aria-labelledby="title">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name" class="label">نام دسته</label>
                <input type="text" nbInput fullWidth [(ngModel)]="input.pieceName" name="name" id="name"
                  pattern="^[\u0600-\u06FF\s]+$" #inputOne="ngModel"
                  [status]="inputOne.dirty ? (inputOne.invalid ? 'danger' : 'success') : ''"
                  [attr.aria-invalid]="inputOne.invalid && inputOne.touched ? true : null" placeholder="نام قطعه"
                  autocomplete="off" required>
                <ng-container *ngIf="inputOne.invalid && inputOne.touched">
                  <p class="caption status-danger" *ngIf="inputOne.errors?.required">
                    وارد کردن این آیتم اجباری است
                  </p>
                  <p class="caption status-danger" *ngIf="inputOne.errors?.pattern">
                    مقدار وارد شده نامعتبر است (فقط حروف فارسی مورد قبول است)
                  </p>
                </ng-container>
              </div>
            </div>
          </div>
          <button type="submit" nbButton hero [disabled]="submitted || !form.valid"
            [class.btn-pulse]="submitted">افزودن</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
