<div class="row">
  <div class="col-md-12">
    <nb-card accent="info" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
      <nb-card-header>ویرایش</nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="add()" #form="ngForm" aria-labelledby="title">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name" class="label">نام شرکت</label>
                <input type="text" nbInput fullWidth [(ngModel)]="input.companyName" name="companyName" id="companyName"
                  #companyName="ngModel"
                  [status]="companyName.dirty ? (companyName.invalid ? 'danger' : 'success') : ''"
                  [attr.aria-invalid]="companyName.invalid && companyName.touched ? true : null" placeholder="نام شرکت"
                  autocomplete="off" required>
                <ng-container *ngIf="companyName.invalid && companyName.touched">
                  <p class="caption status-danger" *ngIf="companyName.errors?.required">
                    وارد کردن این آیتم اجباری است
                  </p>
                  <p class="caption status-danger" *ngIf="companyName.errors?.pattern">
                    مقدار وارد شده نامعتبر است (فقط حروف فارسی مورد قبول است)
                  </p>
                </ng-container>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name" class="label">نام مدیر</label>
                <input type="text" nbInput fullWidth [(ngModel)]="input.managerName" name="managerName" id="managerName"
                  #managerName="ngModel"
                  [status]="managerName.dirty ? (managerName.invalid ? 'danger' : 'success') : ''"
                  [attr.aria-invalid]="managerName.invalid && managerName.touched ? true : null" placeholder="نام مدیر"
                  autocomplete="off" required>
                <ng-container *ngIf="managerName.invalid && managerName.touched">
                  <p class="caption status-danger" *ngIf="managerName.errors?.required">
                    وارد کردن این آیتم اجباری است
                  </p>
                  <p class="caption status-danger" *ngIf="managerName.errors?.pattern">
                    مقدار وارد شده نامعتبر است (فقط حروف فارسی مورد قبول است)
                  </p>
                </ng-container>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name" class="label">شماره تماس</label>
                <input type="tel" nbInput fullWidth [(ngModel)]="input.phone" name="phone" id="phone" #phone="ngModel"
                  [status]="phone.dirty ? (phone.invalid ? 'danger' : 'success') : ''"
                  [attr.aria-invalid]="phone.invalid && phone.touched ? true : null" placeholder="شماره تماس"
                  autocomplete="off" required>
                <ng-container *ngIf="phone.invalid && phone.touched">
                  <p class="caption status-danger" *ngIf="phone.errors?.required">
                    وارد کردن این آیتم اجباری است
                  </p>
                  <p class="caption status-danger" *ngIf="phone.errors?.pattern">
                    مقدار وارد شده نامعتبر است (فقط حروف فارسی مورد قبول است)
                  </p>
                </ng-container>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="userId" class="label">کاربر</label>
                <ng-select [items]="users"
                           bindLabel="fullName"
                           autofocus
                           bindValue="id"
                           name="userId"
                           [(ngModel)]="input.userId"
                           id="userId" #userId="ngModel"
                           [attr.aria-invalid]="userId.invalid && userId.touched ? true : null"
                           required>
                </ng-select>
<!--                <nb-select selected="0" fullWidth [(ngModel)]="input.userId" name="userId" id="userId" #userId="ngModel"-->
<!--                  [attr.aria-invalid]="userId.invalid && userId.touched ? true : null" required>-->
<!--                  <nb-option value="0" selected disabled>انتخاب کاربر</nb-option>-->
<!--                  <nb-option *ngFor="let user of users" [value]="user.id">-->
<!--                    ({{user.phoneNumber}}) {{ user.fullName }}-->
<!--                  </nb-option>-->
<!--                </nb-select>-->
                <ng-container *ngIf="userId.invalid && userId.touched">
                  <p class="caption status-danger" *ngIf="userId.errors?.required">
                    وارد کردن این آیتم اجباری است
                  </p>
                  <p class="caption status-danger" *ngIf="userId.errors?.pattern">
                    مقدار وارد شده نامعتبر است
                  </p>
                </ng-container>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="userId" class="label">موقعیت</label>
                <nb-select selected="0" fullWidth [(ngModel)]="input.stateId" name="stateId" id="stateId"
                  #stateId="ngModel" [attr.aria-invalid]="stateId.invalid && stateId.touched ? true : null" required>
                  <nb-option value="0" selected disabled>انتخاب موقعیت</nb-option>
                  <nb-option *ngFor="let state of states" [value]="state.id">
                    {{ state.name }}
                  </nb-option>
                </nb-select>
                <ng-container *ngIf="stateId.invalid && stateId.touched">
                  <p class="caption status-danger" *ngIf="stateId.errors?.required">
                    وارد کردن این آیتم اجباری است
                  </p>
                  <p class="caption status-danger" *ngIf="stateId.errors?.pattern">
                    مقدار وارد شده نامعتبر است
                  </p>
                </ng-container>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name" class="label">آدرس</label>
                <textarea nbInput fullWidth [(ngModel)]="input.address" name="address" id="address" #address="ngModel"
                  [status]="address.dirty ? (address.invalid ? 'danger' : 'success') : ''"
                  [attr.aria-invalid]="address.invalid && address.touched ? true : null" placeholder="آدرس"
                  autocomplete="off" required></textarea>
                <ng-container *ngIf="address.invalid && address.touched">
                  <p class="caption status-danger" *ngIf="address.errors?.required">
                    وارد کردن این آیتم اجباری است
                  </p>
                  <p class="caption status-danger" *ngIf="address.errors?.pattern">
                    مقدار وارد شده نامعتبر است (فقط حروف فارسی مورد قبول است)
                  </p>
                </ng-container>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="description" class="label">توضیحات</label>
                <textarea nbInput fullWidth [(ngModel)]="input.description" name="description" id="description" #description="ngModel"
                          [status]="description.dirty ? (description.invalid ? 'danger' : 'success') : ''"
                          [attr.aria-invalid]="description.invalid && description.touched ? true : null" placeholder="توضیخات"
                          autocomplete="off"></textarea>
                <ng-container *ngIf="description.invalid && description.touched">
                  <p class="caption status-danger" *ngIf="description.errors?.required">
                    وارد کردن این آیتم اجباری است
                  </p>
                  <p class="caption status-danger" *ngIf="description.errors?.pattern">
                    مقدار وارد شده نامعتبر است (فقط حروف فارسی مورد قبول است)
                  </p>
                </ng-container>
              </div>
            </div>
          </div>
          <button type="submit" nbButton hero [disabled]="submitted || !form.valid"
            [class.btn-pulse]="submitted">ویرایش</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
