<div class="row">
  <div class="col-md-12">
    <nb-card accent="info" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
      <nb-card-header>افزودن</nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="add()" #form="ngForm" aria-labelledby="title">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name" class="label">نام دسته</label>
                <input type="text" nbInput fullWidth [(ngModel)]="categoryInput.name" name="name" id="name"
                  pattern="^[\u0600-\u06FF\s]+$" #category="ngModel"
                  [status]="category.dirty ? (category.invalid ? 'danger' : 'success') : ''"
                  [attr.aria-invalid]="category.invalid && category.touched ? true : null" placeholder="نام دسته"
                  autocomplete="off"
                  required>
                <ng-container *ngIf="category.invalid && category.touched">
                  <p class="caption status-danger" *ngIf="category.errors?.required">
                    وارد کردن این آیتم اجباری است
                  </p>
                  <p class="caption status-danger" *ngIf="category.errors?.pattern">
                    مقدار وارد شده نامعتبر است (فقط حروف فارسی مورد قبول است)
                  </p>
                </ng-container>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="parentCategoryId" class="label">دسته مادر</label>
                <nb-select selected="0" fullWidth [(ngModel)]="categoryInput.parentCategoryId" name="parentCategoryId"
                  id="parentCategoryId" #parent="ngModel"
                  [attr.aria-invalid]="parent.invalid && parent.touched ? true : null" placeholder="انتخاب دسته مادر">
                  <nb-option value="0" selected disabled>انتخاب دسته مادر</nb-option>
                  <nb-option *ngFor="let cat of mainCats" [value]="cat.id">
                    {{ cat.name }}
                  </nb-option>
                </nb-select>
                <ng-container *ngIf="parent.invalid && parent.touched">
                  <p class="caption status-danger" *ngIf="parent.errors?.required">
                    وارد کردن این آیتم اجباری است
                  </p>
                  <p class="caption status-danger" *ngIf="parent.errors?.pattern">
                    مقدار وارد شده نامعتبر است
                  </p>
                </ng-container>
              </div>
            </div>
          </div>
          <button type="submit" nbButton hero [disabled]="submitted || !form.valid"
            [class.btn-pulse]="submitted">افزودن</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
