 <div class="col-md-6">
   <nb-card status="danger">
     <nb-card-header>درباره</nb-card-header>
     <nb-card-body>
       به پنل مدیریت سایت / اپلیکیشن خوش آمدید
     </nb-card-body>
   </nb-card>
 </div>
 <div class="col-md-6">
   <nb-card status="success">
     <nb-card-header>طراح</nb-card-header>
     <nb-card-body>
       این قالب توسط شرکت ویرایش شده است
     </nb-card-body>
   </nb-card>
 </div>
 <div class="col-md-6">
   <nb-card status="warning">
     <nb-card-header>تماس با ما</nb-card-header>
     <nb-card-body>
       برای تماس با ما می توانید از <a href="">این لینک </a> استفاده کنید
     </nb-card-body>
   </nb-card>
 </div>
 <div class="col-md-6">
   <nb-card status="info">
     <nb-card-header>راهنما</nb-card-header>
     <nb-card-body>
       برای دریافت پشتیبانی با شرکت تماس بگیرید
     </nb-card-body>
   </nb-card>
 </div>
